<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%# THIS IS INCOMPLETE, FINISH THIS LATER AS WE NEED TO MAKE A FORM DIFFERENT DEPENDING ON THE USER TYPE! %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :name,
                required: true,
                hint: ("Give us your name."),
                input_html: { autocomplete: "name" } %>
    <%= f.input :phone_number,
                required: true,
                hint: ("Give us your phone number."),
                input_html: { autocomplete: "phone-number" } %>
    <%= f.input :gender,
                required: false,
                hint: ("Give us your gender."),
                input_html: { autocomplete: "gender" },
                collection: ["F", "M", "NA"] %>
    <%= f.input :location,
                required: true,
                hint: ("Give us your location."),
                input_html: { autocomplete: "location" } %>
    <%= f.input :avatar, as: :file,
                required: true,
                input_html: {autocomplete: "Your-profile-picture"} %>
    <%= f.input :user_type, required: true, collection: ["helper", "senior"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
