
<div class="header-toppage center">
  <% if params[:help_request].present? %>
    <% if params[:help_request][:location].present? && params[:help_request][:start_time].present? && params[:help_request][:duration].present? && params[:help_request][:task_id] %>
      <h4>Searching for helpers in <%= params[:help_request][:location]%> for <%= params[:help_request][:start_time] %> during <%= params[:help_request][:duration]%> hours, to help me with <%= Task.find(params[:help_request][:task_id]).name%></h4>
    <% end %>
  <% else %>
    <h1>You are looking at all available helpers</h1>
  <% end %>
</div>
<%# We will have to add a conditional to change what is written based on what was searched,
kinda like for the leave your shit website %>
<div class="h2-helperindex">
  <h2 class = "txt-alignhelperindex">Your recommended helpers</h2>
</div>
  <div class="grid-helperindex">
    <% @helpers.each do |helper| %>
      <div class="card-helperindex">
        <div class="helperavatar">
          <%= cl_image_tag helper.avatar.key, class: "avatar-mediumroundindex", crop: :fill %>
        </div>
          <div class="helpertitle">
            <b><%= helper.name %></b>
            <%= helper.age %>
          </div>
          <div class="helperindex-middlebutton">
            <% if params[:help_request].present? %>
              <%= simple_form_for [helper, HelpRequest.new(params[:help_request].permit!)] do |f| %>
                <%= f.input :start_time, as: :hidden %>
                <%= f.input :duration, as: :hidden %>
                <%= f.input :task_id, as: :hidden %>
                <%= f.input :location, as: :hidden %>
                <%= f.input :task_description, as: :hidden, class: "btn-rounded btn-brownish" %>
                <%= f.submit %>
              <% end %>
              <% else %>
                <%= link_to "Get help", users_path(), class: "btn-rounded btn-brownish"  %>
                <%# Above is just a placeholder! It would be the form! %>
            <% end %>
          </div>
        <div class="card-helperinfo">
          <% unless helper.help_requests.empty? %>
          <% allfriend = []
            allefficiency = []
            allpunctual = []
            allrecommend = [] %>
            <%helper.help_requests.each do |requests| %>
              <% unless requests.review.nil? %>
                <% allfriend << requests.review.friendliness_rating %>
                <% allefficiency << requests.review.efficiency_rating %>
                <% allpunctual << requests.review.punctuality_rating %>
                <% allrecommend << requests.review.recommend %>
              <% end %>
            <% end %>
              <% unless allfriend.empty? %>
                <div class="container-helperscores">
                  <div class="helperreviews">
                    <div class="helperscores">
                      <%= allfriend.inject{ |sum, el| sum + el }.to_f / allfriend.size/ 5 * 100 %>%
                    </div>
                    <div class="txt-helperscoreexplain">
                      Friendliness
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      <%= (allefficiency.inject{ |sum, el| sum + el }.to_f / allefficiency.size) / 5 * 100%>%
                    </div>
                    <div class="txt-helperscoreexplain">
                      Happy with help
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      <%= allpunctual.inject{ |sum, el| sum + el }.to_f / allpunctual.size/ 5 * 100 %>%
                    </div>
                    <div class="txt-helperscoreexplain">
                      On time
                    </div>
                  </div>
                  <% trecommend = allrecommend.select { |recommendation| recommendation == true} %>
                  <div class="helperreviews">
                    <div class="helperscores">
                      <%= trecommend.size/allrecommend.size.to_f * 100 %>%
                    </div>
                    <div class="txt-helperscoreexplain">
                      Recommended
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="container-helperscores">
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      Friendliness
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      Happy with help
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      On time
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      Recommended
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="container-helperscores">
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      <div class="txt-helperscoreexplain">
                      Friendliness
                    </div>
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      Happy with help
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      On time
                    </div>
                  </div>
                  <div class="helperreviews">
                    <div class="helperscores">
                      NA
                    </div>
                    <div class="txt-helperscoreexplain">
                      Recommended
                    </div>
                  </div>
              </div>
            <% end %>
          <div class="helperindex-bottombtn">
            <%= link_to "See more", user_path(helper), class: "btn-rounded btn-brownishghost"  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<ul>
  <% @helpers.each do |helper| %>
    <li>
      <%= helper.name %> -
      <%= helper.location %> -
      <% helper.tasks.each do |task| %>
        <%= task.name %> |
      <% end %>

    </li>
  <% end %>
</ul>
