
<div class="header-toppage center">
  <% if params[:help_request].present? %>
    <% if params[:help_request][:location].present? && params[:help_request][:start_time].present? && params[:help_request][:duration].present? && params[:help_request][:task_id] %>
      <h4><b>Searching for helpers in</b> <%= @location%> <b>for</b> <%= @time %> <b>for </b><%= params[:help_request][:duration]%> <b>hour(s), to help me with </b><%= Task.find(params[:help_request][:task_id]).name%></h4>
    <% end %>
  <% else %>
    <h1>You are looking at all available helpers</h1>
  <% end %>
</div>
<%# We will have to add a conditional to change what is written based on what was searched,
kinda like for the leave your shit website %>
<div class="h2-helperindex">
  <h2 class = "txt-alignhelperindex">Your recommended helpers</h2>
</div>
<div class="grid-helperindex">
  <% @helpers.each do |helper| %>
    <div class="card-helperindex">
      <div class="helperavatar">
        <%= cl_image_tag helper.avatar.key, class: "avatar-mediumroundindex", crop: :fill %>
      </div>
        <div class="helpertitle">
          <b><%= helper.name %></b>
          <%= helper.age %>
        </div>
        <div class="helperindex-middlebutton">
          <%= link_to "See more", user_path(helper), class: "btn-rounded btn-brownish"  %>
          <%# PUT THE SEE MORE BUTTON HERE %>
        </div>
      <div class="card-helperinfo">
        <% unless helper.help_requests.empty? %>
        <% allfriend = []
          allefficiency = []
          allpunctual = []
          allrecommend = [] %>
          <%helper.help_requests.each do |requests| %>
            <% unless requests.review.nil? %>
              <% allfriend << requests.review.friendliness_rating %>
              <% allefficiency << requests.review.efficiency_rating %>
              <% allpunctual << requests.review.punctuality_rating %>
              <% allrecommend << requests.review.recommend %>
            <% end %>
          <% end %>
            <% unless allfriend.empty? %>
              <%= render "users/placeholders/filledreviews", allfriend: allfriend, allefficiency: allefficiency, allpunctual: allpunctual, allrecommend: allrecommend %>
            <% else %>
              <%= render "users/placeholders/unfilledreviews", helper: helper %>
            <% end %>
          <% else %>
            <%= render "users/placeholders/unfilledreviews", helper: helper %>
          <% end %>
        <div class="helperindex-bottombtn">
        <%# PUT GET HELP HERE %>
          <% if params[:help_request].present? %>
            <%= render "users/placeholders/helpform", helper: helper %>
          <% else %>
            <%= link_to "Request help", users_path(), class: "btn-rounded btn-brownishghost"  %>
            <%# Above is just a placeholder! It would be the form! %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
