<div class="master-container-show">

  <div class="container-show">
    <div class="container-profile-card">
        <h2 class="profile-show-avatar" ><%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill %></h2>
      <div class="info-profile-show">
        <div class="about-profile-show">
          <p><i class="fas fa-map-marker-alt">  </i><strong>      Location</strong></p>
          <p><%= @user.location %></p>
        </div>
        <div class="about-profile-show">
          <p> <i class="fas fa-calendar-day">  </i><strong>      Availability</strong></p>
            <% @user.availabilities.each do |availability| %>
            <%=availability.weekday.capitalize%>
            <% end %>
          </div>
        <div class="about-profile-show">
          <p><i class="fas fa-car-side">  </i><strong>      Transportation</strong><% if !@user.vehicle %>

          <p>Car</p>
          <% else %>
          <p> No vehicle</p>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-review">
      <div class="review-show">
       <h1 class="profile-show" > <strong>Hi, I'm <%= @user.name %></strong></h1>
        <div class="about-profile-show">
          <h4><i class="fas fa-address-card"></i><strong> About</strong></h4>
          <hr>
          <p><%= @user.description %></p>
        </div>
        <h4> <i class="fas fa-star"></i><strong> *#* Reviews</strong></h4>
          <hr>
        <h5>*reviews placeholder*</h5>
        <p> They have been a lovely couple. They have come with their adorable cute puppy Murphy who has performed excellently. </p>
        <h5>*reviews placeholder*</h5>
        <p> They have been a lovely couple. They have come with their adorable cute puppy Murphy who has performed excellently. </p>
        <h5>*reviews placeholder*</h5>
        <p> They have been a lovely couple. They have come with their adorable cute puppy Murphy who has performed excellently. </p>
      </div>
    </div>
</div>
