<div class="master-container-show">

  <div class="container-show">
    <div class="container-profile-card">
      <% if @users_favorite %>
        <%= link_to favorite_path(@users_favorite), method: :delete do %>
          <i class="fas fa-heart" id="favorite-heart"></i>
        <% end %>
      <% else %>
        <%= link_to user_favorites_path(@user), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>

      <h2 class="profile-show-avatar" ><%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill %></h2>
      <div class="info-profile-show">
        <div class="about-profile-show">
          <p><i class="fas fa-map-marker-alt">  </i><strong>      Location</strong></p>
          <p><%= @user.location %></p>
        </div>
        <div class="about-profile-show">
          <p> <i class="fas fa-calendar-day">  </i><strong>      Availability</strong></p>
            <% @user.availabilities.each do |availability| %>
             <%=availability.weekday.capitalize%>
            <% end %>
          </div>
        <div class="about-profile-show">
          <p><i class="fas fa-car-side">  </i><strong>      Transportation</strong><% if !@user.vehicle %>

          <p>Car</p>
          <% else %>
          <p>No vehicle</p>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-review">
      <div class="review-show">
        <div class="container-show-btn">
          <h1 class="profile-show" > <strong>Hi, I'm <%= @user.name %></strong></h1>
          <%= link_to "Request help", users_path(), class: "btn-show"  %>
        </div>
        <div class="about-profile-show">
          <h5><i class="fas fa-address-card"></i><strong> About</strong></h5>
          <hr>
          <p><%= @user.description %></p>
        </div>
        <% request_length = @user.help_requests.where(status: "completed").length %>
        <h5> <i class="fas fa-star"></i><strong><%= request_length > 1 ? "*#{request_length}* Reviews": "*#{request_length}* Review"  %></strong></h5>
          <hr>
          <% @user.help_requests.where(status: "completed").reverse.each do |request| %>
            <p>"<i><%= request.review.description %></i>" - After helping <%= request.senior.name.split[0].to_s %> with <b><%= request.task.name.downcase %></b></p>
          <% end %>
      </div>
    </div>
</div>
