<div class = "coupon-header text-center">
      <h1><strong>Coupon Shop</strong></h1>
      <br>
      <h3>You have <strong><%=current_user.points_balance%></strong> Silverpoints</h3>
      <h2> You can trade Silverpoints for coupons from our affiliated brands</h2>
</div>

<% restaurants_photos = ["https://source.unsplash.com/collection/1028299", "https://source.unsplash.com/collection/345703", "https://source.unsplash.com/collection/312299", "https://source.unsplash.com/collection/3398352"] %>

<div class="container-coupons">
  <% @coupons.each do |coupon| %>
    <div class="coupon-style">
      <div class="img-coupon">
        <%= cl_image_tag coupon.picture.key, crop: :fill %>
      </div>
      <div class="card-coupon">
        <div class="ticket">

          <div class="txt-couponname">
            <h3><b><%= coupon.name[11..-1] %></b></h3>
          </div>
        </div>
        <div class="eyeline-coupon">
          <div class="coupon-description">
            <%= coupon.description %>
          </div>
          <div class="coupon-price">
            <b><%= coupon.price %> points</b>
          </div>
        </div>
        <div class="takeout">
        </div>
        <div class="coupon-button">
          <%= link_to "Get coupon", user_coupons_path(:coupon_id => coupon.id, anchor:"anchor"), method: :post, class: "btn-coupon"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
