
<div class="container-home">
  <div class="master-banner-container">
    <div class="homepage-container">

      <div class="homepage-container-img">

        <div class="homepage-text-form">
          <div class="title-home-banner">
            <h1>Everyday life <br> made easy</h1>
            <p> Find help for any of your daily tasks from friendly local volunteers. </p>
          </div>

          <div class="searchbar-home">
            <div class="search-form-home">
              <%= simple_form_for @help_request, html: { class: "flexbox"}, url: new_help_request_path, method: :get do |f| %>
                  <%= f.input :task_id,collection: Task.all, input_html: { class:"search-form-home form-homesearchbar select-2-suggestions ", multiple: "multiple" }, label: false %>
                 <%= f.submit "Get help", class:"search-btn-home search-btn " %>
            </div>
            <div class="">
              <% end %>
            </div>
          </div>
        </div>

        <div class="img-home-banner">
          <img src="https://i.ibb.co/svytDdL/mega-creator-1.png" alt="senior-picture" class="img-home-banner">
        </div>

      </div>
    </div>
  </div>



  <div class="container-categories-home">
    <h2>Discover our tasks categories</h2>
    <p> These are tasks are frequenty requested. <br> Click on one of our options to find someone to help you.</p>

    <div class="container-cards-home" data-aos="fade-up">

      <div class="container-cards-home-1">
        <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Groceries").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Grocery shopping</h5>
              </div>
            </div>
          <% end %>
          </div>

          <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Home repairs").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/276SYTS/car-repair.png" alt="home repairs" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Home repairs</h5>
              </div>
            </div>
          <% end %>
          </div>

          <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Wheelchair assistance").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/xDzFvGh/wheelchair.png" alt="wheelchair assistance" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Wheelchair assistance</h5>
              </div>
            </div>
          <% end %>
          </div>

          <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Cleaning").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/HVFrR2k/mop.png" alt="cleaning" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Cleaning</h5>
              </div>
            </div>
          <% end %>
          </div>
        </div>

      <div class="container-cards-home-2">
        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Cooking").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/khFPKBD/chef.png" alt="cooking" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Cooking</h5>
            </div>
          </div>
        <% end %>
        </div>

        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Cleaning").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/Mkd5NCF/laundry-machine.png" alt="laundry" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Laundry</h5>
            </div>
          </div>
        <% end %>
        </div>

        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Activities").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/cCcpwJv/mental-health.png" alt="activities" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Social activities</h5>
            </div>
          </div>
        <% end %>
        </div>

        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Company for excursion").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/TMT3rqv/administrator.png" alt="others" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Others</h5>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

<h2 class="title-steps">Get help in 3 easy steps</h2>

<div class="container-containerhowitworks">

  <div class="container-how-it-works">
     <img src="https://i.ibb.co/v36Zp8T/undraw-Publish-post-re-wmql.png" alt="Place-holder" class="img-info-home">

        <div class="info-homepage-right" data-aos="zoom-out-left">
          <h2> Step 1 </h2>
          <%# WHY IS THIS NO LONGER ORANGE? not enough contrast, there was a complaint on the accessibility report %>
          <h3> Complete the form with the task information  </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis purus laoreet fames fermentum. Fermentum, arcu lacus lobortis sed tellus.</p>
        </div>
  </div>

    <div class="container-how-it-works">

        <div class="info-homepage" data-aos="fade-up-right">
          <h2> Step 2 </h2>
          <h3>Choose your Silverhelper by reviews and skills</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis purus laoreet fames fermentum. Fermentum, arcu lacus lobortis sed tellus.</p>
        </div>

        <img src="https://i.ibb.co/6PZPcdd/undraw-Personalization-re-grty.png" alt="Place-holder" class="img-info-home">
  </div>

  <div class="container-how-it-works" >
        <img src="
        https://i.ibb.co/Qrn1gTq/undraw-Business-deal-re-up4u.png" alt="Place-holder" class="img-info-home">

        <div class="info-homepage-right" data-aos="fade-up-left">
          <h2> Step 3 </h2>
          <h3> Contact the Silverhelper and get your help</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis purus laoreet fames fermentum. Fermentum, arcu lacus lobortis sed tellus. </p>
        </div>


  </div>





</div>
