
<div class="container-home">
  <div class="master-banner-container">
    <div class="homepage-container">

      <div class="homepage-container-img">

        <div class="homepage-text-form">
          <div class="title-home-banner">
            <h1>Everyday life <br> made easy</h1>
            <p> Find help for any of your daily tasks from friendly local volunteers. </p>
          </div>

          <div class="searchbar-home">
            <div class="search-form-home">
              <%= simple_form_for @help_request, html: { class: "flexbox"}, url: new_help_request_path, method: :get do |f| %>
                  <%= f.input :task_id,collection: Task.all, input_html: { class:"search-form-home form-homesearchbar select-2-suggestions ", multiple: "multiple" }, label: false %>
                 <%= f.submit "Get help", class:"search-btn-home search-btn " %>
            </div>
            <div class="">
              <% end %>
            </div>
          </div>
        </div>

        <div class="img-home-banner">
          <img src="https://i.ibb.co/8j3C2cj/mega-creator-7.png" alt="senior-picture" class="img-home-banner">
          <%# https://i.ibb.co/svytDdL/mega-creator-1.png %>
        </div>

      </div>
    </div>
  </div>



  <div class="container-categories-home">
    <h2>Discover our task categories</h2>
    <p> These are tasks are frequenty requested. <br> Click on one of our options to find someone to help you.</p>

    <div class="container-cards-home" data-aos="fade-up">

      <div class="container-cards-home-grid">
        <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Grocery shopping").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Grocery shopping</h5>
              </div>
            </div>
          <% end %>
          </div>

          <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Home repairs").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/276SYTS/car-repair.png" alt="home repairs" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Home repairs</h5>
              </div>
            </div>
          <% end %>
          </div>

          <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Wheelchair assistance").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/xDzFvGh/wheelchair.png" alt="wheelchair assistance" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Wheelchair assistance</h5>
              </div>
            </div>
          <% end %>
          </div>

          <div class="whatever">
          <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Cleaning").id]})) do%>
            <div class="card-task-home">
              <img src="https://i.ibb.co/HVFrR2k/mop.png" alt="cleaning" class="task-icon-home">
              <div class="card-body">
                <h5 class="task-name-card">Cleaning</h5>
              </div>
            </div>
          <% end %>
          </div>
        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Cooking").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/khFPKBD/chef.png" alt="cooking" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Cooking</h5>
            </div>
          </div>
        <% end %>
        </div>

        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Laundry").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/Mkd5NCF/laundry-machine.png" alt="laundry" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Laundry</h5>
            </div>
          </div>
        <% end %>
        </div>

        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Social activities").id]})) do%>

          <div class="card-task-home">
            <img src="https://i.ibb.co/cCcpwJv/mental-health.png" alt="activities" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card">Social activities</h5>
            </div>
          </div>
        <% end %>
        </div>

        <div class="whatever">
        <%= link_to(new_help_request_path(:help_request => {:task_id =>["",Task.find_by(name: "Other").id]})) do%>
          <div class="card-task-home">
            <img src="https://i.ibb.co/TMT3rqv/administrator.png" alt="others" class="task-icon-home">
            <div class="card-body">
              <h5 class="task-name-card"> Other</h5>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

<h2 class="title-steps">Get help in 3 easy steps</h2>

<div class="container-containerhowitworks">

  <div class="container-how-it-works">
     <img src="https://i.ibb.co/9gjYrJD/icon-1-home-yes.png" alt="Place-holder" class="img-info-home">

        <div class="info-homepage-right" data-aos="zoom-out-left">
          <h2> Step 1 </h2>
          <%# WHY IS THIS NO LONGER ORANGE? not enough contrast, there was a complaint on the accessibility report %>
          <h3> Complete the form with the task information  </h3>
          <p> Follow a few simple steps to personalize your help request and find willing volunteers in your area that are perfectly suited to your unique needs. You might even find your favourite helper on the first try.</p>

        </div>
  </div>

    <div class="container-how-it-works">

        <div class="info-homepage" data-aos="fade-up-right">
          <h2> Step 2 </h2>
          <h3>Choose your Silverhelper by reviews and skills</h3>

          <p> We show you a personalised list of the volunteers in your area. Browse as many profiles as you like until you find your perfect SilverHelper. Then hit 'request help' to send a request to your chosen helper.</p>

        </div>

        <img src="https://i.ibb.co/9WZhrJx/undraw-Personalization-re-grty.png" alt="Place-holder" class="img-info-home">
  </div>

  <div class="container-how-it-works" >
        <img src="https://i.ibb.co/tC331W5/icon-home-2.png" alt="Place-holder" class="img-info-home">

        <div class="info-homepage-right" data-aos="fade-up-left">
          <h2> Step 3 </h2>
          <h3> Contact the Silverhelper and get your help</h3>

          <p> When your Silverhelper confirms, your mutual contact details will be shared and you can make the final arrangements. After, you can easily mark the task as completed and leave a review. We reward your Silverhelp accordingly.  </p>

        </div>
  </div>


<%# <div>
  <div>
    <img src="https://i.ibb.co/LkrYqtz/mega-creator-2.png" alt="">
  </div>
</div> %>




</div>
