<div class="dashboard-element-item">
  <%= cl_image_tag request.senior.avatar.key, id: "request-avatar" %>
  <div class="d-flex justify-content-center">
    <i class="far fa-user"></i>
    <p><strong></strong><%= request.senior.name %></p>
  </div>
  <p><strong><i class="far fa-comment-dots"></i></strong><%= Task.find(request.task_id).name  %></p>
  <p><strong><i class="fas fa-hourglass-start"></i></strong><%= request.duration %>hr </p>
  <p><strong><i class="fas fa-spinner"></i></strong><%= request.status %></p>
  <p><strong><i class="fas fa-quote-right"></i></strong><%= HelpRequest.find(request.id).review.description %></p>
  <p><strong>
    <% avg_review = (HelpRequest.find(request.id).review.friendliness_rating + HelpRequest.find(request.id).review.efficiency_rating + HelpRequest.find(request.id).review.punctuality_rating) / 3 %>
    <% avg_review.times do %>
      <i class="fas fa-star" id="rating-star"></i>
    <% end %>
  </strong></p>
</div>
