<div class="dashboard-element-item">
  <p><strong><i class="far fa-user"></i></strong><%= request.senior.name %> <%= link_to "view profile", user_path(request.senior), method: :get, class: "btn-edit-profile" %></p>
  <p><strong><i class="far fa-comment-dots"></i></strong><%= request.task_description  %></p>
  <p><strong><i class="far fa-clock"></i></strong><%= request.start_time %></p>
  <p><strong><i class="fas fa-hourglass-start"></i></strong><%= request.duration %>hr </p>
  <p><strong><i class="fas fa-spinner"></i></strong><%= request.status %></p>
  <% if request.pending? %>
  <%= link_to "Accept", help_request_path(request,{status: "accepted"}), method: :patch, class: "btn-status-change"  %>
  <% end %>
  <%= link_to "Decline", help_request_path(request,{status: "declined"}), method: :patch, data: { confirm: "Are you sure you want to decline this request? This cannot be reversed." }, class: "btn-status-change"  %>
</div>
