
    <h3><%= @user.name %></h3>
    <%# <p><strong><%= @user.email %></strong></p>
    <p><strong>Phone number </strong> <br><%= @user.phone_number %></p>
    <p><strong>My location <br></strong><%= @user.location %></p>
    <%# <p><strong>About me: <br></strong><%= @user.description %></p>
    <p><strong>My Availability <br></strong>
    <% @user.availabilities.each do |availability| %>
      <%= availability.weekday.capitalize %>
      <% end %>
    </p>
