<div class= "d-flex align-items-center">
  <div class="left-text">
    <div class="you-mother-fucker" data-aos="fade-right">
      <% task_name = Task.find(params["help_request"]["task_id"][1]).name %>
      <h1>You are looking for help <br> with <strong><%= task_name %></strong></h1>

    </div>
  </div>
  <div class="right-text" data-aos="fade-left">
    <div class = "form-right-container" data-controller="multi-step-form">
      <%= simple_form_for [@help_request, HelpRequest.new(params[:help_request].permit!)], url: users_path, method: :get do |f| %>
        <div class="d-none" data-multi-step-form-target="step">
          <%= f.input :task_id, as: :hidden %>
          <button data-action="click->multi-step-form#goToNext" data-next-step="1">Next step</button>
        </div>
        <div data-multi-step-form-target="step">
          <h1><strong>Step 1 out of 3</strong></h1>
          <%= f.input :start_time, error: "Mandatory: Please choose a review from 1 (very unfriendly) to 5 (very friendly)",
            html5: true %>
          <%= f.input :duration,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: HelpRequest::CATEGORIES %>
          <div class = "d-flex justify-content-end">
          <button data-action="click->multi-step-form#goToNext" data-next-step="2" class="btn-new-form">Next step</button>
          </div>
        </div>
        <div class="d-none"  data-multi-step-form-target="step">
          <h1><strong>Step 2 out of 3</strong></h1>
          <%= f.input :location,
            input_html: { class: "location-autocomplete" }, label:"Address" %>
          <div class = "d-flex justify-content-between">
            <button data-action="click->multi-step-form#goToPrevious" data-next-step="2" class="btn-new-form">Previous step</button>
            <button data-action="click->multi-step-form#goToNext" data-next-step="3" class="btn-new-form">Next step</button>
          </div>
        </div>
        <div class="d-none" data-multi-step-form-target="step">
          <h1><strong>Step 3 out of 3</strong></h1>
          <%= f.input :task_description %>
          <div class = "d-flex justify-content-between">
            <button data-action="click->multi-step-form#goToPrevious" data-next-step="3" class="btn-new-form">Previous step</button>
            <%= f.submit "Search", class:"btn-new-form" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
