  <div class="container-confirmation-page">
    <div class="confirmation-container"
     data-aos="fade-right"
     data-aos-duration="900">

      <div class="title-confirmation">
        <h2><strong>Thank you, <%=  @request.senior.name %>! <br> Your request is sent!</strong></h2>
        <p>Help will be on the way soon. Your chosen SilverHelper will now be notified that you have requested their help.</p>
      </div>
        <div class="request-title">
          <h5><strong>Request Details</strong></h5>
        </div>
          <div class="request-details-confirmation">
              <div class="icon-conf">
                <i class="fas fa-thumbtack"></i>
                 <p><strong>Your task</strong> <br> <%= Task.find(@request.task_id).name%></p>
              </div>

              <div class="icon-conf">
                <i class="fas fa-pen" ></i>
                <p><strong>Description</strong> <br><%= @request.task_description %> </p>
              </div>

              <div class="icon-conf">
                <i class="fas fa-calendar-week"></i>
                <p><strong>Time of your task</strong> <br> <%= @request.start_time %></p>
              </div>

              <div class="icon-conf">
                <i class="fas fa-clock"></i>
                <p><strong>Duration</strong> <br> <%= @request.duration %> hours</p>
              </div>

              <div class="icon-conf">
                <i class="fas fa-map-marker-alt"></i>
                <p><strong>Address</strong> <br><%= @request.location %></p>
              </div>

              <div  class="icon-conf">
                <i class="fas fa-user"></i>
                <p><strong>Your Silverhelper</strong> <br><%= @request.helper.name %></p>
              </div>

        </div>

    </div>
        <div class="what-new-confirmation">
            <h5><strong>What happens now?</strong></h5>
            <p id="description">
            Follow the link to the <strong>dashboard</strong> below <br> to keep an eye on the status
            of your request.
            </p>
            <div class="btn-confirmation-how">
              <%= link_to "Dashboard", dashboard_path, id: "btn-dashboard"%>
              <%= link_to "Back to homepage", root_path, id: "btn-dashboard"%>
            </div>
        </div>

    <div>
      <%# <img src="https://i.ibb.co/F4gCpdV/undraw-certification-aif8-1.png" class="img-confirmation" alt=""> %>
    </div>
</div>
