  <div class="confirmation-container">
    <h2>Your request is sent!</h2>
      <h5>Request Details</h5>
        <p><strong>What?</strong> <%= @request.task_description %></p>
        <p><strong>When?</strong> <%= @request.start_time %></p>
        <p><strong>How long?</strong> <%= @request.duration %>hrs</p>
        <p><strong>Where?</strong> <%= @request.location %></p>
        <p><strong>Who?</strong> <%= @request.helper.name %></p>
      <h5>What happens now?</h5>
        <p id="description">Your chosen <strong>SilverHelper</strong> will now be notified that you
        have requested their help. If they are available they can
        head to their <strong>dashboard</strong> to accept your request and share
        their contact details so you can make arrangements.
        Follow the link to the <strong>dashboard</strong> below to keep an eye on the status
        of your request.
        </p>
        <%= link_to "Dashboard", dashboard_path, id: "btn-dashboard"%>
  </div>
