<div class="review-container">
  <div class="review-leftside">
    <h1><b>Review <%= @help_request.helper.name %>'s Help</b></h1>
    <%= cl_image_tag @help_request.helper.avatar.key, height: 300, width: 400, crop: :fill, class: "avatar-mediumroundindex" %>
    <p class= "review-eyeline">We hope that our people could successfully help you with your task. Can we ask for a few minutes of your time to review <%= @help_request.helper.name %>?</p>
  </div>

  <div class="review-form" data-controller="wizard submit">
    <%= simple_form_for([ @help_request, @review ]) do |f| %>
      <div data-wizard-target="step">
        <%= f.input :friendliness_rating, label: "How friendly was your helper?",
                    error: "Mandatory: Please choose a review from 1 (very unfriendly) to 5 (very friendly)",
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'reviewcategory-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'reviewcategory-selector'},
                    collection: Review::FRIENDLINESS %>
        <div class="movbuttons">
          <div>
            <%# THIS IS PURPOSEFULLY EMPTY DO NOT REMOVE %>
          </div>
          <%= button_tag "Next", :class => "btn-next", type: :button,
            data: {
              action: "click->wizard#goToNext",
              next_step: "1"
            } %>
        </div>
      </div>
      <div data-wizard-target="step" class="d-none">
        <%= f.input :efficiency_rating, label: "How happy are you with the task performed by your helper?",
                    error: "Mandatory: Please choose a review from 1 (very bad at task) to 5 (very good at task)",
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'reviewcategory-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'reviewcategory-selector'},
                    collection: Review::EFFICIENCY %>
        <div class="movbuttons">
          <%= button_tag "Previous", :class => "btn-previous", type: :button,
            data: {
              action: "click->wizard#goToPrevious",
              previous_step: "1"
            } %>
          <%= button_tag "Next", :class => "btn-next", type: :button,
            data: {
              action: "click->wizard#goToNext",
              next_step: "2"
            } %>
        </div>
      </div>
      <div data-wizard-target="step" class="d-none">
        <%= f.input :punctuality_rating, label: "Did your helper arrive at the agreed time?",
                    error: "Mandatory: Please choose a review from 1 (very late) to 5 (perfectly on time)",
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'reviewcategory-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'reviewcategory-selector'},
                    collection: Review::PUNCTUALITY %>
        <div class="movbuttons">
          <%= button_tag "Previous", :class => "btn-previous", type: :button,
            data: {
              action: "click->wizard#goToPrevious",
              previous_step: "2"
            } %>
          <%= button_tag "Next", :class => "btn-next", type: :button,
            data: {
              action: "click->wizard#goToNext",
              next_step: "3"
            } %>
        </div>
      </div>
      <div data-wizard-target="step" class="d-none">
        <%= f.input :recommend, label: "Would you recommend your helper?",
                    error: "Mandatory: Please tell us whether you recommend this helper or not",
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'reviewreccategory-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'reviewcategory-selector'},
                    collection: [["No", false], ["Yes", true]] %>
        <div class="movbuttons">
          <%= button_tag "Previous", :class => "btn-previous", type: :button,
            data: {
              action: "click->wizard#goToPrevious",
              previous_step: "3"
            } %>
          <%= button_tag "Next", :class => "btn-next", type: :button,
            data: {
              action: "click->wizard#goToNext",
              next_step: "4"
            } %>
        </div>
      </div>
      <div data-wizard-target="step" class="d-none" data-action="keyup->submit#toggle">
        <%= f.input :description, as: :text, label: "Do you want to say anything else about your helper?",
                    error: "Please tell us what you think of this helper in 10 letters or more",
                    placeholder: "Tell us your thoughts on this helper in 10 letters or more..." %>
        <div class="movbuttons">
        <%= button_tag "Previous", :class => "btn-previous", type: :button,
          data: {
            action: "click->wizard#goToPrevious",
            previous_step: "4"
          } %>
          <div>
          <%# THIS IS PURPOSEFULLY EMPTY DO NOT REMOVE %>
          </div>
        </div>
      </div>
        <div class="submitbutton", data-submit-target="submit">
          <%= f.button :submit, "Send your review", :class => "btn-rounded centered btn-review disabled", :style => "margin-left: 0px; margin-right: 0px",
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'reviewreccategory-wrapper',
          item_wrapper_class: 'category-item' %>
        </div>
    <% end %>
  </div>
</div>
