<!DOCTYPE html>
<html>
  <head>
    <title>Silverhelp</title>
    <link rel="icon" href="https://ibb.co/8mqQK1M" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <div class="page-container">

      <% unless controller_name == "help_requests" && action_name == "new" || controller_name == "reviews" && action_name == "new"%>
        <div class="navbar-container"><%= render "shared/navbar" %></div>
      <% end %>
      <div class="content-container"><%= yield %></div>
      <div class="flashes-container"><%= render "shared/flashes" %></div>
      <% unless controller_name == "help_requests" && action_name == "new" || controller_name == "reviews" && action_name == "new" %>
        <div class="footer-container"><%= render "shared/footer" %></div>
      <% end %>
    </div>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


  </body>
</html>
